/* Extra Small Devices (Phones) */
@media (max-width: 575.98px) {
    /* Your styles for extra small devices here */
    .hero .c-img{
      width: 200px;
    }

    .c-hero-left{
      padding-top: 60px;
    }
  }
  
  /* Small Devices (Tablets) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* Your styles for small devices here */

    .hero .c-img{
      width: 300px;
    }
    .c-hero-left{
      padding-top: 60px;
    }


  }
  
  /* Medium Devices (Laptops) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* Your styles for medium devices here */
    .hero .c-img{
      width: 400px;
    }
    .c-hero-left{
      padding-top: 60px;
    }

    

  }
  
  /* Large Devices (Desktops) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* Your styles for large devices here */
    .c-hero-left{
      padding-top: 40px;
    }
  
  }
  
  /* Extra Large Devices (Large Desktops) */
  @media (min-width: 1200px) {
    /* Your styles for extra large devices here */
    .c-hero-left{
      padding-top: 40px;
    }
    
  }
  