/* Extra Small Devices (Phones) */
@media (max-width: 575.98px) {

  /* Your styles for extra small devices here */
  .about img,
  .hero .c-img {
    width: 200px;
  }

  .c-hero-left {
    padding-top: 60px;
  }

  .c-hero-left h3 {
    font-size: 1rem;

  }

  .c-hero-left h1 {
    font-size: 2rem;
    font-weight: bolder;

  }
  .about img{
    margin-top: 0px !important;
    
  }
  
  .about h2{
    margin: 0px 0px 0px 0px !important;
    
  }
  .c-footer ul{
padding-left: 0px;

  }
  
}

/* Small Devices (Tablets) */
@media (min-width: 576px) {
  /* Your styles for small devices here */
  .about img,
  .hero .c-img {
    width: 300px ;
  }

  .c-hero-left {
    padding-top: 60px;
  }

  .about h2{
    padding-top: 40px;
  }
  
  .c-footer ul{
    padding-left: 0px;
    
      }


}

/* Medium Devices (Laptops) */
@media (min-width: 768px) {

  /* Your styles for medium devices here */
  .about img,
  .hero .c-img {
    width: 400px;
  }

  .c-hero-left {
    padding-top: 60px;
  }




}

/* Large Devices (Desktops) */
@media (min-width: 992px) {

  /* Your styles for large devices here */
  .c-hero-left {
    padding-top: 40px;
  }

 

}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {

  /* Your styles for extra large devices here */
  .c-hero-left {
    padding-top: 40px;
  }

  .about img{
    margin-top: -10%;
  }

}













/* ================================= */
/* responsive style for navigaion */
/* ================================= */







/* when the screen width is 390 pixels or less */
@media (max-width: 992px) {

  .c-mobile-nav {
    padding-top: 30px;
    /* padding: 0px 20px;
      width: 100vw !important;*/
    background-color: white;
    margin-top: 10px;

  }

  .c-mobile-nav a {
    color: var(--primary-color) !important;

  }

  .main-btn {
    color: var(--primary-color) !important;
    width: 10rem !important;
    border: 2px solid var(--primary-color) !important;
    margin-left: 0px !important;
    padding: 0px !important;
  }


  .main-btn:hover {
    /* background-color: var(--secondary-color); */
    border-color: var(--primary-color-dark);
    /* color: var(--primary-color); */
  }

}

