/* TABLE OF CONTENTS */
/* ------------------
1. General
       variables
       preset
       general style
       webkit
2. Utilities
3. Hero
4. About
5. Services
6. Portfolio
6. Contact
7. Footer
-------------------- */




/* ======================================================== */
/*----------------1 General --------------------------*/
/* ======================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */

:root {
    /* Background Color */
    --primary-color: #ecf9ff;
    --secondary-color: #FFFFFF;
    --third-color: #060640;
    --fourth-color: #000020;


    --bg-dark-blue: #091020;
    --bg-white: #fff;
    --gray-color: #c6c9d8bf;

    /* Text Color */
    --primary-text: #00E5CC;
    --secondry-text: #060640;
    --text-white: #fff;
    --primary-font: 'Poppins', sans-serif;

}

/* preset */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


input:hover,
input:focus,
textarea:focus,
textarea:hover,
button {
    outline: none !important;
    box-shadow: none !important;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* general style */



body {
    font-family: var(--primary-font);
    background-color: var(--);
}

a {
    text-decoration: none;


}


h1 {
    /* font-size: 54px; */
    /* line-height: 68px; */
    font-weight: 800;
    color: var(--text-);
    margin-bottom: 20px;
}

h1 span {
    color: var(--primary-clor);
}

h2 {
    /* font-size: 50px; */
    line-height: 1.3;
    font-weight: 600;
    color: var(--text-);
    margin-bottom: 15px;
}

h3 {
    /* margin-bottom: 19px; */
    font-weight: 600;
    /* font-size: 20px; */
    color: var(--text-);
}

h6 {
    color: var(--text-);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 20px;
}

p {
    color: var(--text-);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
}


/* webkit */


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--third-color);
}











/* ======================================================== */
/*----------------2. Utilities --------------------------*/
/* ======================================================== */



section {
    padding: 50px 0;
}

.main-btn {
    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 10px 27px;
    background-color: transparent;
    border: 2px solid var(--gray-color);
    color: var(--text-gray);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.main-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
}

.subtitle {
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background: var(--primary-color);
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





#preloader {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255) url('/portfolio3/images/preloader.svg') no-repeat center;
    z-index: 9999;
}

/* ======================================================== */
/*----------------3. Hero --------------------------*/
/* ======================================================== */



.hero {
    background-color: var(--primary-color);
    height: 300vh;
    padding-top: 40px;
}

.hero__header {

    background-color: var(--secondary-color);
    padding: 8px 8px 8px 8px !important;
    border-radius: 10px;

}

.header_logo {
    color: var(--secondry-text);
    font-size: 25px !important;
    font-weight: 600 !important;
    transition: transform 0.3s ease;

}

.header_logo:hover {
    color: var(--secondry-text);
    transform: translateY(-4px);

}

.header_logo span {
    color: var(--primary-text);




}

.header_ul li a {
    color: var(--secondry-text);
    font-size: 16px !important;
    border-bottom: 2px solid transparent;
    transition: border-color 0.4s ease-in;

}

.header_ul li a:focus,
.header_ul li a:active,
.header_ul li a:hover {
    color: var(--secondry-text);

    border-bottom: 2px solid var(--third-color);


}


/* ========================== */
/* first butotn */
/* ========================= */
.header_ul_btn_1 {
    color: #000000;
    font-size: 16px !important;
    border: 2px solid transparent;
    border-radius: 7px;

    margin-right: 5px;
    padding: 10px 20px !important;
    transition: border-color 0.4s ease-in;



}

.header_ul_btn_1:hover {
    color: #000000;
    font-size: 16px !important;
    border: solid 2px var(--third-color);

}

.header_ul_btn_1:active {
    background-color: var(--primary-color);
    /* color: var(--secondary-color);  */


}

.header_ul_btn_1:focus {
    color: var(--third-color);
}




/* ========================== */
/* second butotn */
/* ========================= */

.header_ul_btn_2 {
    background-color: var(--third-color);
    color: var(--secondary-color);
    border: solid 2px var(--third-color);
    border-radius: 7px;
    padding: 10px 20px !important;
    font-size: 16px !important;
    transition: background-color 0.3s ease-in;



}

.header_ul_btn_2:hover {
    background-color: var(--secondary-color) !important;
    color: var(--third-color);
    border-radius: 7px;
    border: solid 2px var(--third-color);
    padding: 10px 20px !important;
    font-size: 16px !important;


}


.header_ul_btn_2:active {}

.header_ul_btn_2:focus {
    color: rgb(28, 206, 212);
}

/* less than 992px */

@media (max-width: 992px) {

    .header_ul_btn_1,
    .header_ul_btn_2:hover,
    .header_ul_btn_2 {
        margin-left: 0px !important;
        padding-left: 2px !important;
        text-align: start;
        display: inline-block;
        margin: 0 auto;


    }

    .header_ul li a,
    .header_ul li a:focus,
    .header_ul li a:active,
    .header_ul li a:hover,
    .header_ul_btn_1,
    .header_ul_btn_1:active,
    .header_ul_btn_1:hover,
    .header_ul_btn_1:focus,
    .header_ul_btn_2,
    .header_ul_btn_2:active,
    .header_ul_btn_2:hover,
    .header_ul_btn_2:focus {
        background-color: var(--secondary-color) !important;
        border: 0px;
        color: var(--third-color);
    }

    .header_ul li a:hover,
    .header_ul_btn_1:hover,
    .header_ul_btn_2:hover {
        color: rgb(9, 156, 201);
    }




}


.header_hamburger {
    color: var(--fourth-colorr);


    margin-top: 18px !important;
}



.hero_left {
    z-index: 5;
}

.hero_left_img {
    margin-left: -25px !important;
    margin-top: 35px !important;
}


.hero_right {
    /* position: absolute; */
}


.hero_right_img_1 {}

.hero_right_relative_left {
    position: relative;
    top: -350px;
    right: 50px;
    z-index: 5000;

}

.hero_right_relative_bottom {
    position: relative;
    top: -150px;
    left: -80px;
    z-index: 5000;

}

.hero_right_relative_right {

    position: relative;
    top: -600px;
    right: -500px;
    z-index: 5000;
}

.hero_right_img_1,
.hero_right_relative_left,
.hero_right_relative_bottom,
.hero_right_relative_right {


}