* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
}

.header {
    height: 70px;

}

.container {
    max-width: 1250px;
    display: flex;
    padding: 20px 40px;
    align-items: center;
    margin: 0 auto;


}

.header__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    text-transform: uppercase;
    font-size: 1.75em;
}

ul {

    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;



}
.hamburger{
    display: none;
}

ul li {
    padding: 0px 0px 0px 15%;
    list-style: none;
}

ul li a {
    color: black;
    size: 1.50px;
    text-transform: uppercase;
    text-decoration: none;

}

/* Styles for screens less than 530px */
@media (max-width: 529px) {
    ul {
        display: none;
    }

    .hamburger {
        display: block;
        color: black;
        font-size: 1.80em;

        display: flex;
        align-items: center;
        margin-left: auto;
        justify-content: flex-end;
    }

    ul {
        width: 100vw;
        position: absolute;
        top: 70px;
        bottom: 0px;
        left: 0px;
        z-index: 5;
        background-color: rgb(255, 255, 255);

       


    }

    ul>li {
        padding: 20px 0px 3px 25px;
        border-bottom: 1px solid rgb(213, 213, 213);
    }
}